{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing_page/css/landingpage.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Login - Eddies</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'landing_page/images/eddieslogo.png' %}">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body style="background:  #efeff0">
    {% include 'dashboard/messages.html' %}
    <div class="container" data-aos="fade-in" data-aos-duration="1000">
        <div class="box-login">
            <div class="login-icon">
                <a href="{% url 'home' %}"><img width="200" height="200" src="{% static 'landing_page/images/eddieslogo.png' %}"></a>
            </div>
            <h1 style="text-align: center;">Welcome!</h1>
            <form method="POST">
                {% csrf_token %} {% bootstrap_form form %}
                <input type="submit" class='btn btn-dark ' value="Login" style="margin-top: 20px; position: absolute; right: 30px; bottom:20px; padding-left: 30px; padding-right: 30px;" ">
            </form>
            <h6>Don't have account yet?
                <a href="{% url 'accounts:signup' %} ">Sign Up </a></h6>
            <hr>
            <h6><a href="{% url 'accounts:password_reset' %} ">Forgot Password</a></h5>

        </div>

    </div>
    <script src="{% static 'landing_page/js/jquery.min.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js " integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0 " crossorigin="anonymous "></script>
    <script>
        setTimeout(function() {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 4000)
    </script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>

</body>


</html>