{% load static %}
<html>
    <body>
        <div><h2>Hello, <span style="color:blue;">{{ first_name }} {{last_name}}</span> !</h2></div>
        <br>
        <div><p><strong>Thank you for joining Us.</strong></p></div>
        <div><p>We are very glad you accepted the offer to become an early adopters of our Eddies MVP.</p></div>
        <div><p>Feedbacks and suggestion regarding our products are needed for future product development.</p></div>
        <div><p>Please submit any of it to: eddies.startup@gmail.com</p>
        <br>
        <div><p><strong>Best regards,</strong></p></div>
        <div><p>Eddies Team</p></div>
        <div><p>eddies.startup@gmail.com</p></div>   
    </body>
</html>
