/* ------------------------Product------------------------ */

.left-product {
    margin-top: 90px;
}

.text-product {
    margin-left: 40px;
}

.text-product h1 {
    color: #072E79;
    font-weight: 600;
    font-size: 4.5vmax;
}

.text-product h4 {
    color: #646566;
    font-weight: 300;
    font-size: 1.5rem;
}

.containerproduct {
    width: 100%;
    transform: translateY(50px);
}

.containerproductvisual {
    width: 100%;
    transform: translateY(20px);
}

#overview {
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#preprocessing {
    padding-bottom: 150px;
    padding-top: 90px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#processing {
    padding-bottom: 100px;
    padding-top: 130px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#datavalidation {
    padding-bottom: 150px;
    padding-top: 110px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#datavisualization {
    padding-bottom: 100px;
    padding-top: 90px;
    font-family: 'IBM Plex Sans', sans-serif;
}

div #vid1product {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}

div #vid2product {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}

div #vid3product {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div #vid4product {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div #vid5product {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10%;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
}