{% extends 'dashboard/basedashboard.html' %} {% load static %} {% block content %}
<div class="loader_bg">
    <div class="loader"></div>
</div>
<div class="container" data-aos="fade-in" data-aos-duration="1000">
    <br>
    <br>
    <h1 style="text-align:center">Congratulations, <span style="color:blue;">{{user.username}}</span>.</h1>
    <hr>
    <h4 style="text-align:center">Go to your profile to get your visual-interactive data on Eddies Analytics.</h4>
    <center>
        <a href="{% url 'dashboard:profile' request.user.id %}" class="btn btn-dark" style="margin-left:20px; margin-top:20px;">My Profile</a>

    </center>
    <div class="dashboard-home">
        <img width="50%" height="auto" src="{% static 'landing_page/images/one_step.svg' %}">
    </div>

</div>



{% endblock %}