{% extends 'dashboard/basedashboard.html' %} {% load static %} {% block content %} {% if user.is_authenticated %}

<section class="personal-information">
    {% include 'dashboard/messages.html' %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-profile1" data-aos="fade-right" data-aos-duration="1000">
                        <h3 style="text-align: center; margin-top:10px;"><strong>{{ user.first_name }} {{ user.last_name }}</strong></h3>
                        <hr>
                        <div class="personal-info">
                            <p><i class="fas fa-at fa-lg"></i>&nbsp; {{ user.username }}</p>
                            <p><i class="far fa-envelope fa-lg"></i>&nbsp; {{ user.email }}</p>
                            <p><i class="fas fa-university fa-lg"></i>&nbsp;{{ user.userprofile.company_name }}</p>
                            <p><i class="fas fa-link fa-lg"></i>&nbsp; <a href="{{ user.userprofile.company_url }}" target="_blank">   {{ user.userprofile.company_url }}</a> </p>
                        </div>
                        <div class="edit-profile-button">
                            <a href="{% url 'dashboard:edit_profile' request.user.id %}" class="btn btn-primary w-100" style="margin-bottom: 20px;">Edit Profile</a>
                        </div>
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            Get our latest hints and tips for processing your data in <a href="{% url 'landing_page:tutorial' %}"><strong>Tutorials</strong></a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="box-profile2" data-aos="fade-left" data-aos-duration="1000">
                        <div class="profile-redirect">
                            <img width="60%" height="auto" src="{% static 'landing_page/images/try.svg' %}">
                        </div>
                        <div class="dashboard-button" style="transform:translate">
                            <h4>Try <span style="color:#4460EF">eddies</span> dashboard-analytics application right now!</h4>
                            <br>
                            <a href="https://dashboard-test1.herokuapp.com/dashboard_preprocessing_repro" target="_blank" class="btn btn-dark" style="margin-bottom: 20px;">Eddies Analytics</a>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->


{% else %} Your session has ended, please Login again. <a href="{% url 'accounts:login' %}"> Login </a> {% endif %} {% endblock %}