<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddies</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'landing_page/images/eddieslogo.png' %}">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'landing_page/css/landingpage.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q0W7MRVN0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-9Q0W7MRVN0');
    </script>
    <!-- Slider -->
</head>

<body style="background-image:url({% static 'landing_page/images/bg.png' %});">
    <!--- Navigation Bar -->
    <section id="Navbar">
        <nav class="navbar navbar-expand-lg bgcolor navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'landing_page/images/eddieslogo.jpg' %}" alt="logo picture" width="180px" height="auto"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav testi">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true">
                              Product
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item drop" href="{% url 'landing_page:product' %}"><img width="75" height="40" src="{% static 'landing_page/images/overview.svg' %}">Eddies Analytics</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Tutorials
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item drop" href="{% url 'landing_page:tutorial' %}"><img width="75" height="40" src="{% static 'landing_page/images/article.svg' %}">Articles</a>
                                <a class="dropdown-item drop" href="{% url 'landing_page:tutorial' %}"><img width="75" height="40" src="{% static 'landing_page/images/video.svg' %}">Videos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Company
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item drop" href="{% url 'landing_page:about-us' %}"><img width="75" height="40" src="{% static 'landing_page/images/abouteddies.svg' %}">About Eddies</a>
                                <a class="dropdown-item drop" href="{% url 'landing_page:contact' %}"><img width="75" height="40" src="{% static 'landing_page/images/contact.svg' %}">Contact Us</a>
                            </div>
                        </li>
                    </ul>

                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mynavbar">
                            <a class="nav-link" href="{% url  'dashboard:profile' request.user.id %}">Hello <span style="color:#4460EF;">{{ user.username }} </span>!</a>
                        </li>
                        <li class="nav-item mynavbar">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mynavbar">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                        </li>
                        <li class="nav-item ">
                            <a class="btnnav" href="{% url 'accounts:signup' %}"><button type="button">Sign Up</button></a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </section>


    {% block content %} {% endblock %}



    <!--- Bottom headline  -->

    <section id="bhead">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-bottom:60px;" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="highlights">
                        <h1 style="font-size: 4vw;">Start with easy and interactive data processing by eddies!</h1>
                    </div>
                    <a href="#"><button class="btn-footer">Get Started</button></a>
                </div>
            </div>
        </div>
        <div class="wavy1">
            <a href="#">
                <img src="{% static 'landing_page/images/1.png' %}" style="width: 100%;" alt="">
            </a>
        </div>
    </section>


    <!--- Footer  -->

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footers" style="border-bottom:2px solid black;">
                    <ul>
                        <li>
                            <img src="{% static 'landing_page/images/eddieslogo.jpg' %}" alt="logo picture" width="200px" height="auto">
                        </li>
                        <li>
                            <a href="{% url 'landing_page:about-us' %}">
                                <h7>About Us</h7>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'landing_page:contact' %}">
                                <h7>Contact</h7>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 footers" style="border-bottom:2px solid black;">
                    <ul class=social-menu>
                        <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        <li><a href="https://www.instagram.com/ai.eddies/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a href="{% url 'landing_page:contact' %}"><i class="far fa-envelope fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="height: 10%;">
                        <ul>
                            <div>
                                <h6><a href="https://iconscout.com/illustrations/concept" target="_blank" style="color: black">Concept of data analysis and maintenance Illustration</a> by <a href="https://iconscout.com/contributors/woobrodesign">WOOBRO DESIGN</a>                                    on <a href="https://iconscout.com">Iconscout</a></h6>
                                <h6>Copyright <i class="far fa-copyright fa-sm"></i> 2020 eddies, inc. All right reserved</i> | Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"
                                        title="Flaticon">www.flaticon.com</a> | Powered by <img src="{% static 'landing_page/images/django.png' %}" style="width:80px; height:auto;"> </h6>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- JS -->
        <script src="{% static 'landing_page/js/jquery.min.js' %}"></script>
        <script src="{% static 'landing_page/js/bootstrap.bundle.min.js' %}"></script>
        <script>
            $(window).scroll(function() {
                $('nav').toggleClass('scrolled', $(this).scrollTop() > 200);
            });
            setTimeout(function() {
                if ($('#msg').length > 0) {
                    $('#msg').remove();
                }
            }, 4000);
            setTimeout(function() {
                $('.loader_bg').fadeToggle();
            }, 500);
            $(document).ready(function() {
                $('ul.navbar-nav > li')
                    .click(function(e) {
                        $('ul.navbar-nav > li')
                            .removeClass('active');
                        $(this).addClass('active');
                    });
            });
        </script>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

</body>

</html>