body {
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    form {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}